*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    /* background-image: url('asset/img/background.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo a{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    color: #06283D;
    float: left;
}
.menu{
    float: right;
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background: #4B5D67;
    z-index: 1;
}
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 0px 16px 0px 16px;
}
nav ul li a:hover{
    color: blue;
}

section{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}
.coloum{
    margin: 50px 50px;
}
.coloum .description{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-bottom: 50px;
    color: blue;
    width: 100%;
    line-height: 50px;
    font-weight: 800;
}

.animation-area {
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);	
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
	border-radius: 50%;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) scale(0);
	}
	100% {
		transform: translateY(-800px) scale(2);
		opacity: 0;
	}
}